*{
  margin:0;
  padding: 0;
}

body{
  background-color: white;
}

header{
  background-color: white;
  height: 7em;
  padding-left: 8em;
  padding-right: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element{
}

.element:nth-child(1){
  height: 4em;
}

.element:nth-child(2){
  height: 4.1em;
  margin-left: 1em;
}

.element:nth-child(3){
  color: red;
  margin-left: 4em;
}

.element:nth-child(4){
  color: #08146E;
  font-size: 0.8em;
  margin-left: 14.9em;
}

#postal{
  height: 2em;
  margin-left: 6em;
}

#bouton{
  border: none;
  height: 2.2em;
  width: 2em;
  background-color: #08146E;
  color: white;
}

nav{
  height: 2em;
  background-color: white;
  box-shadow: 1px 1px 5px #555;
  padding-left: 10em;
  padding-right: 10em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li{
  display: inline;
}

.active{
  color: red;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #08146E;
}

a:hover{
  color: red;
}

section{
  background-color: green;
}

#premier{
  background-image: url(images/camion.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
  height: 15em;
}

.element:nth-child(5){
  height: 4em;
}

#deuxieme{
  height: 15em;
  background-color: white;
}

#troisieme{
  background-color: white;
  height: 8em;
  box-shadow: 1px 1px 5px #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo3{
  height: 5.5em;
}

footer{
  background-color: #393c41;
  height: 5em;
  padding-left: 8em;
  padding-right: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer p{
  color: white;
  font-family: 'Roboto', sans-serif;
}
