*{
  margin:0;
  padding: 0;
}

body{
  background-color: white;
}

header{
  background-color: white;
  height: 7em;
  padding-left: 8em;
  padding-right: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.element:nth-child(1){
  height: 4em;
}

.element:nth-child(2){
  height: 4.1em;

}

.element:nth-child(3){
  color: red;
}

i.fa-phone{
  color: #CF0001;
}

i.fa-gas-pump{
  color: #08146E;
}

.element:nth-child(4){
  color: #08146E;
  font-size: 0.8em;
}

#postal{
  height: 2em;
}

#bouton{
  border: none;
  height: 2.2em;
  width: 2em;
  background-color: #08146E;
  color: white;
}

nav{
  height: 2em;
  background-color: white;
  box-shadow: 1px 1px 5px #555;
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li{
  display: inline;
}

.active{
  color: red;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #08146E;
}

a:hover{
  color: red;
}


#premier{
  display: flex;
  flex-direction:column;
}

.filtre{
  background-image: url(images/camion.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
  z-index: 0;
  position: absolute;
  top: 9em;
  height: 52.75em;
  width: 100%;
}

.contenu{
  z-index: 1;
  position: relative;
}

.block:nth-child(1){
  display: flex;
  flex-direction: row;
  padding-left: 7em;
  padding-top: 0.1em;
}

.brick:nth-child(1){
  width: 34em;
}

.brick:nth-child(2){
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.module:nth-child(1){
  background-color: #CF0001;
  opacity: 0.9;
  width: 30em;
  height: 15em;
  margin-top: 2em;
  margin-left: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titre{
  font-size: 1.5em;
}

.precision{
  display: flex;
  flex-direction: row;
}

#deux{
  margin-left: 3em;
}

.cadre{
  background-color: white;
  color: red;
}

.module:nth-child(2){
  background-color: #08146E;
  opacity: 0.9;
  width: 30em;
  height: 15em;
  margin-top: 2em;
  margin-left: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}

button{
  background-color: #CF0A01;
  color: white;
  border-color: #A70A01;
  font-size: 1em;
  height: 4em;
  width: 10em;
}

.block:nth-child(2){
  width: 100%;
  height: 10em;
  background-color: #08146E;
  opacity: 0.8;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}




#deuxieme{

  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 7em;
  padding-right: 7em;
}

.pain:nth-child(1){
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cornichon:nth-child(1){
  background-color: green;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.steak:nth-child(1){
  color: blue;
  background-color: white;
}

.signet{
  border-color: red;
  width: 3em;
}

.steak:nth-child(2){
}

.cornichon:nth-child(2){
  background-color: pink;
  width: 100%;
  height: 15em;

  background-image: url(images/express.jpg);
  background-repeat: no-repeat;
  background-size:
}

.pain:nth-child(2){
  background-color: purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tomate:nth-child(1){
  background-color: white;
  width: 20em;
  font-family: 'Roboto', sans-serif;
  color: #08146E;
}

#goutte{
  width: 320px;
  height: 215px;
  border: 1px black solid;
}

.depuis{
  font-size: 1.1em;
}

.gris{
  border-color: grey;
}

.tomate:nth-child(2){
  background-color: red;
  width: 20em;
}

.tomate:nth-child(3){
  background-color: red;
  width: 20em;
}








#troisieme{
  background-color: white;
  height: 8em;
  box-shadow: 1px 1px 5px #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo3{
  height: 5.5em;
}

footer{
  background-color: #393c41;
  height: 5em;
  padding-left: 8em;
  padding-right: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

h1{
  color: white;
  font-size: 0.75em;
}

i{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.info{
  color: red;
}
